.tx-it {
  font-style: italic;
}

.tx-700 {
  font-weight: 700;
}

.tx-upp {
  text-transform: uppercase;
}

.tx-left {
  text-align: left;
}

.tx-center {
  text-align: center;
}

.tx-right {
  text-align: right;
}